@page
@model WebAppCoreRazorPages.Pages.GetDateTimeModel
@{
}

<h1>UI</h1>

<p>
    Current date is @TempData["res"]
</p>


<form method="post">
    <input type="submit" value="submit" name="submit" />
</form>